
a{
    color:#554bb9 !important;
    text-decoration: none;
}
.calendar-notes button{
    background-color: #554bb9 !important;
    border: 1px solid white !important;
}
h6{
    line-height: 2;
}

.title-notes-modal{
    background-color: #554bb9;
   .modal-title{
        color: white !important;
    }
    .btn-close{
        color: white !important;
    }
}