
.header-avatar{
    background-color: #554bb9;
   .header-menu-toggle{
       padding: 10px;
    .btn-icon-menu{
        margin-top: 20px;
        color: white;
        font-size: 28px;
    }
    .image-menu-logo{
        width: 150px;
        margin-left: 20px;
    }
   }
    
}