@media all and (min-width: 0px){
    .header-has-author{
        .css-1083xa6-MuiTypography-root{
            display: block!important;;
        }
        .css-1t6c9t{
            display: block!important;;
        }
        .css-1t6c9ts{
            display: block !important;
        }
    }
}