.title-course-id{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    font-family: auto;
}
.selected-item  {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}