#footer {
    background-image: url("../../assets/footer-bg.jpeg");
    width: 100%;
    .footer-background {
        background: rgba(85, 75, 185, 0.95);
        .search-sign-up {
            h3 {
                color: #fff;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: -0.25px;
                font-family: Oswald, sans-serif;
                line-height: 2;
            }
            .form-signUp {
                .input-email {
                    width: 560px;
                    margin-right: 10px;
                    background: rgba(255, 255, 255, 0.8);
                    color: #554bb9;
                    height: 55px;
                    border-radius: 0px;
                    padding: 1rem 1.5rem;
                    font-size: 14px;
                    line-height: 1.42857143;
                    font-family: Poppins, sans-serif;
                }
                .input-email:focus {
                    border-color: #fff !important;
                    background-color: #fff;
                    box-shadow: none;
                }
                button {
                    border-radius: 0px;
                    background: #efa506;
                    color: #fff;
                    font-weight: 400;
                    font-size: 15px;
                    padding: 0 34px;
                    font-family: Oswald, sans-serif;
                    letter-spacing: 0.5px;
                    line-height: 1.5;
                }
                button:hover {
                    background: #ec398b;
                    border-radius: 16px;
                }
            }
        }
        .contact-us {
            .footer-title {
                line-height: 3;
                text-transform: uppercase;
                color: #fff;
                font-weight: 700;
                letter-spacing: 1.5px;
                font-family: Oswald, sans-serif;
                font-size: 15px;
            }
            .view-location {
                
                ul li {
                    margin-bottom: 5px ;
                    svg {
                        color: #efa506;
                    }
                    span {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
            .social-connection{
                svg{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    padding: 10px;
                    color: rgba(255, 255, 255, 0.5);
                    background-color: rgba(255, 255, 255, 0.5);
                }
                svg:hover{
                    background-color: #efa506;
                    color: #fff;
                    transition: color 0.7s;

                }

            }
        }
    }

    .info-contact>span, .info-contact
     {
        font-size: 17px;
        font-style: normal;
        font-family: Poppins, sans-serif;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: -1px;
    }
}
